<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-2">
    <div class="text-center" *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <div class="alert alert-danger" *ngIf="error">
      <p>{{error}}</p>
    </div>
    <form #authData="ngForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="text" ngModel name="email" id="email" class="form-control" required email>
      </div>
      <div class="form-group">
        <label for="password">Password (minimum 6 characters): </label>
        <input type="password" ngModel name="password" id="password" class="form-control" required minlength="6">
      </div>
      <div>
        <button [disabled]="authData.invalid" type="submit" class="btn btn-primary">
          {{isLogin ? "Login" : "SignUp"}}
        </button>
        |
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">
          Swith to {{isLogin ? "SignUp" : "Login"}}
        </button>
      </div>
    </form>
  </div>
</div>
